<div id="modal-ficha-media" class="modal-refactor" style="display:none;">
  <div class="modal-contenido-refactor modal-erp-producto" style="max-width:720px; max-height:85vh; overflow-y:auto;">
    <span class="cerrar" id="modal-ficha-media-close">&times;</span>
    <h2 class="modal-titulo-principal"><i class="fas fa-gear"></i> Medios del equipo</h2>
    <p class="tiny" style="margin-top:-8px;">Administra todas las fotos, planos y despieces (incluye las del carrusel).</p>
    <div id="ficha-media-config-list" class="media-grid"></div>
  </div>
</div>
